
//******
// colors
// 颜色
//******

// mainly color
@highlight: #ff9100;
@hl : @highlight;

// secondary color
@white : white;
@black : black;
@gray : gray;
@hoary : #efefef;
@trans : transparent;
// for warning
@red : #fe421d;
// for pass
@green: #339933;

//******
// more color
//******
@color-1 : #3fabda;
@color-2 : #a65acd;
@color-3 : #fb612f;
@color-4 : #7de1a0;
@color-5 : #16d1b6;
@color-6 : #30b5d4;
@color-7 : #3496df;


//******
// padding
//******
@padding: .1rem;
@pd : @padding;


//******
// font-name
//******
@font-icon-name: "iconfont";

//******
// font-base
//******
@font-base : 14px;

//******
// media width
//******

// for mobile
@m-xs : 320px;
@m-s : 375px;
@m-m : 414px;
@m-l : 768px;
@m-xl : 1024px;

// for pc
@xs : 1280px;
@s : 1366px;
@m : 1440px;
@l : 1600px;
@xl : 1920px;


//******
// border radius width;
//******
@radius : 5px;

